/*
    HPC XTUTATIS CONFIGURATION
*/
conda   {
        enabled         = false
        autoMounts      = true
}

singularity {
        enabled                 = true
        autoMounts              = true
        singularity.cacheDir    = '/data/cnm/ratb/pipelines/singularity-images/ratbLab_wgs-singularity'
        singularity.envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'
}

process {
        executor        = 'slurm'
        queue           = 'short_idx' // check if m has permission; if not = 'short_obx'
        jobName         = { "$task.name - $task.hash" }
        conda           = null
        errorStrategy   = { 
                task.exitStatus in [140,143,137,138,104,134,139] ? 'retry' : 'finish'; task.exitStatus in [1,4,255] ? 'ignore' : 'finish'
        }
        maxRetries      = 1
        maxErrors       = '-1'

        // Add Xtutatis labels
        withLabel:process_single {
                cpus   = 6
                memory = 36.GB
                time   = 4.h  
        }
        withLabel:process_medium {
                cpus   = 12   
                memory = 56.GB
                time   = 6.h  
        }
        withLabel:process_high {
                cpus   = 14
                memory = 144.GB
                time   = 8.h
        }
}

params {
        max_memory      = '284.GB'
        max_cpus        = 32
        max_time        = '12.h'
}
